@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
  input[type="number"] {
    @apply focus:outline-none focus:ring-2 focus:ring-tfpa_blue;
  }
  input[type="text"] {
    @apply focus:outline-none focus:ring-2 focus:ring-tfpa_blue;
  }
}
